.weatherapp {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid blue;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
.temperature {
  font-size: 50px;
  position: relative;
  bottom: -10px;
}
.description {
  text-transform: capitalize;
}
.icon {
  max-width: 150px;
  max-height: 150px;
  position: relative;
  bottom: 5px;
}
.humidity {
  position: relative;
  bottom: -20px;
  right: 20px;
}
.windSpeed {
  position: relative;
  bottom: -20px;
  right: 20px;
}
.weatherForecast {
  margin-top: 20px;
  text-align: center;
}
.forecastDay {
  font-size: 16px;
  color: black;
}
.forecastTempMax {
  font-size: 13px;
  color: black;
  opacity: 0.6;
}
.forecastTempMin {
  font-size: 13px;
  color: black;
}
.code {
  text-align: center;
}
