.weatherapp {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid blue;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
.description {
  text-transform: capitalize;
}
